body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  flex: 3;
  background: #F4F4F4;
  display: flex;
  &-border {
    padding:30px;
    background: lightgray;
    &:before {
      content: 'w';
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      left: 15px;
      color: white;
      background: red;
    }
  }
}

.message-list {
  flex: 7;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-header {
    padding: 20px;
    border-bottom: 1px solid lightgray;
    h3 {
      margin: 0;
    }
  }
  &-body {
    overflow: scroll;
    flex: 0 1 100%;
  }
  &-form {
    border-top: 1px solid lightgray;
    padding: 20px;
  }
}

.message {
  padding: 5px 30px;
  &-header {
    display: flex;
    align-items: baseline;
    p {
      font-style: italic;
      font-size: 12px;
      color: #7d7c7c;
    }
    span {
      margin: 0 10px;
    }
    h5 {
      font-weight: bold;
      color: red;
    }
  }
}

.message-input {
  display: flex;

  input {
    display: block;
    padding: 7px;
    width: 100%;
    font-size: 24px;
    &:focus {
      outline-style: solid;
      outline-color: #DF7170;
      outline-width: thin;
    }
  }

  button {
    padding: 10px 50px;
    background: #DF7170;
    color: white;
  }
}
