body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  flex: 3;
  background: #F4F4F4;
  display: flex;
  &-border {
    padding:30px;
    background: lightgray;
    &:before {
      content: 'w';
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      left: 15px;
      color: white;
      background: red;
    }
  }
}

.message-list {
  flex: 7;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-header {
    padding: 20px;
    border-bottom: 1px solid lightgray;
    h3 {
      margin: 0;
    }
  }
  &-body {
    overflow: scroll;
    flex: 0 1 100%;
  }
  &-form {
    border-top: 1px solid lightgray;
    padding: 20px;
  }
}

.message-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h5 {
    color: red;
  }
}

.message {
  padding: 30px;
}

.message-input {
  display: flex;

  input {
    display: block;
    padding: 7px;
    width: 100%;
    font-size: 24px;
  }

  button {
    padding: 10px 50px;
    background: #DF7170;
    color: white;
  }
}
