body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  flex: 2;
  background: lightgray;
}

.message-list {
  flex: 7;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-body {
    overflow: scroll;
    flex: 0 1 100%;
  }
}

.message-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h5 {
    color: red;
  }
}

.message {
  padding: 30px;
}

.message-input {
  display: flex;

  input {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 24px;
  }

  button {
    padding: 10px 50px;
  }
}
